<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="/assets/css/dashboard_style.css">
</head>
<body>
  
    <div class="container mt-5">
      <a href="/">Go back</a>
      <div class="jumbotron mt-3">
        <h1 class="display-4">Hello, <%=currentUser.name%></h1>
        <p class="lead">Enjoy our voice controlled web player and file storage platform.</p>
        <hr class="my-4">
        <p>Add more files to our platform to save your computer data storage.</p>
        <p class="lead">
          <a class="btn btn-primary btn-sm" href="/new" role="button">Upload</a>
        </p>
      </div>

        <div class="container mt-5">
          <h2 class="mt-5 mb-5">Your files :</h2>
          <div class="row ">
        
            <% for(let p of playlist.playlists){ %>
            <div class="col-md-6 col-lg-4 mb-3">
            
                <div class="card event" data-aos="fade-up" data-aos-delay="100">
                 
                  <div class="card-body">
                    <h5 class="card-title text-secondary"><i><%=p.title%></i></h5>
                    <% for(let img of p.media_file){ %>                    
                      <img class="card-img" src="<%=img.url%>"></img>
                    <%}%>
                    <!-- <a href="/dashboard/<%=currentUser.id%>/playlists/<%=p._id%>/player">Play</a> -->
                    <br>
                     <form action="/dashboard/<%=currentUser.id%>/playlists/<%=p._id%>?_method=DELETE" method="POST">
                      <button class="btn btn-outline-danger mt-3">Delete</button>
                    </form>
                  </div>
                </div>
            </div>
            <%}%>
          </div>
        </div>   
        </div>
    

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>